<h3 class="body_header center">Programming, History, Outdoors</h3>

<div id="home" class="sub_content">
  <div class= "text_pane">
    <h3></h3>
    <p>
      This is my little corner of the internet. Check out my <%= link_to("blog", "/posts")%> filled with posts on <%= link_to("programming/tech", "/tags/1")%>, <%= link_to("history", "/tags/2")%>, <%= link_to("attempts at musings", "/tags/3")%>, <%= link_to("whatever", "/tags/4")%>
    </p>
  </div>
</div>
<div id= "find_out_more" class="sub_content">
  <h4 class="icons">
    <a target="_blank" href="http://www.github.com/estensland/"><i class="fa fa-github fa-2x"></i></a>
    <a target="_blank" href="http://www.twitter.com/stens688/"><i class="fa fa-twitter fa-2x"></i></a>
    <a target="_blank" href="http://www.linkedin.com/in/ericstensland/"><i class="fa fa-linkedin fa-2x"></i></a>  
  </h4>  
</div>
