<div class="body_container">
  <h3 class="body_header center">Recent Posts</h3>
  <% @posts.each do |post| %>
    <div class="post_container text_pane">
      <p class="created_date"><%= post.created_to_s %></p>
      <% if post.tags.first %> 
        <p class="post_tags"><span>Tags:</span> 
          <% post.tags.each do |tag| %>
            <a href="/tags/<%=tag.id%>"><%=tag.name%></a>
          <% end %>
        </p>     
      <% end %>
      <p class="post_title"><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
      <p class="post_content"><%= post.body.html_safe %></p>
    </div>
  <% end %>
</div>
