<div class="body_container">
  <div class="post_container">
    <p class="created_date"><%= @post.created_to_s %></p>
    <% if @post.tags.first %> 
      <p class="post_tags"><span>Tags:</span> 
        <% @post.tags.each do |tag| %>
          <a href="/tags/<%=tag.id%>"><%=tag.name%></a>
        <% end %>
      </p>     
    <% end %>
    <p class="post_title"><%= @post.title %></p>
    <p class="post_content"><%= @post.body.html_safe %></p>
  </div>
</div>
